/*---------- NO SCROLLBAR ----------*/

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}



/*----------- POSITIONS ------------*/

nav {
    position: fixed;
    top: 0;
    z-index: 999;
}

.gradient-left,
.gradient-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5vw;
}

.autoplay-video,
.block {
    position: relative;
    display: block;
}



/*---------- PROPORTIONS -----------*/

.width-100 {
    width: 100% !important;
}

/* ON LARGE SCREENS */
@media only screen and (min-width: 993px) {
    .no-margin-on-large {
        margin: 0 !important;
    }
}

.add-margin-top {
    margin-top: 64px !important; 
}

.add-margin-bottom {
    margin-bottom: 64px !important; 
}

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.container {
    margin: 0 auto;
    max-width: none !important;
    width: 90% !important;
}

.container-small {
    margin: 0 auto;
    max-width: none !important;
    width: 55% !important;
}

i.logo-small {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

img.logo-small {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.logo-small {
    /* For imgs */
    height: 2.5rem;
    align-self: center;
    vertical-align: middle;
    
    /* For icons */
    font-size: 3.7rem;
    line-height: 2.5rem;
    text-align: center;
}

.autoplay-video {
    margin-top: 0.5rem !important;
}

.block {
    margin-top: 0.7rem !important;
}

.autoplay-video,
.block {
    padding: 0 !important;
}



/*-------------- TEXT --------------*/

html {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    font-family: 'Urbanist', 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

/* ON SMALL SCREENS */
nav a.brand-logo {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ON MED AND LARGE SCREENS */
@media only screen and (min-width: 601px) {
    nav a.brand-logo {
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

nav ul li a {
    font-size: 1.3rem;
}

.sidenav li a {
    font-size: 1.3rem !important;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
}

/* ON MEDIUM SCREENS */
@media only screen and (min-width: 601px) {
    h2 {
        font-size: 2.6rem !important;
    }
}

/* ON LARGE SCREENS */
@media only screen and (min-width: 993px) {
    h2 {
        font-size: 2.4rem !important;
    }
}

h3 {
    font-weight: 300;
    font-size: 2rem;
}

/* ON MEDIUM SCREENS */
@media only screen and (min-width: 601px) {
    h3 {
        font-size: 1.8rem !important;
    }
}

/* ON LARGE SCREENS */
@media only screen and (min-width: 993px) {
    h3 {
        font-size: 1.6rem !important;
    }
}

h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    word-spacing: 0.1rem;
}

/* ON MEDIUM SCREENS */
@media only screen and (min-width: 601px) {
    h4 {
        font-size: 1.4rem !important;
    }
}

/* ON LARGE SCREENS */
@media only screen and (min-width: 993px) {
    h4 {
        font-size: 1.3rem !important;
    }
}

h5 {
    font-weight: 300;
    font-size: 1.2rem;
}

/* ON MEDIUM SCREENS */
@media only screen and (min-width: 601px) {
    h5 {
        font-size: 1.15rem !important;
    }
}

/* ON LARGE SCREENS */
@media only screen and (min-width: 993px) {
    h5 {
        font-size: 1.1rem !important;
    }
}

h1, h2, h3 {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h4 a, h4 bold {
    font-weight: 700;
}

.autoplay-video,
.block {
    line-height: 0;
}

footer {
    width: 100vw;
    line-height: 5vh;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.semibold {
    font-weight: 600 !important;
}



/*-------- BACKGROUND COLOR ---------*/

html {
    background-color: #000000 !important;
}

nav {
    background-color: rgba(0, 0, 0, 0.72);
}

.sidenav {
    background-color: #000000 !important;
}

/* NAV HOVER DISABLED */
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0);
}



/*----------- TEXT COLOR ------------*/

h3,
h5,
nav li,
nav li a,
.sidenav li a {
    color: #a1a1a1;
}

html,
h1 a,
a i,
nav a.semibold,
nav li a i,
.sidenav a.semibold {
    color: #f5f5f7;
}

h4 a,
h4 bold {
    color: #539987;
}



/*------------- EFFECTS -------------*/

nav {
    box-shadow: none !important;
    backdrop-filter: saturate(180%) blur(2rem);
}

.nav-wrapper {
    height: 60px;
    border-bottom: 2px solid #a1a1a1;
}

.gradient-left {
    left: 0;
    background-image:
        linear-gradient(
            90deg,
            hsl(0, 0%, 0%) 0%,
            hsla(0, 0%, 0%, 0.738) 19%,
            hsla(0, 0%, 0%, 0.541) 34%,
            hsla(0, 0%, 0%, 0.382) 47%,
            hsla(0, 0%, 0%, 0.278) 56.5%,
            hsla(0, 0%, 0%, 0.194) 65%,
            hsla(0, 0%, 0%, 0.126) 73%,
            hsla(0, 0%, 0%, 0.075) 80.2%,
            hsla(0, 0%, 0%, 0.042) 86.1%,
            hsla(0, 0%, 0%, 0.021) 91%,
            hsla(0, 0%, 0%, 0.008) 95.2%,
            hsla(0, 0%, 0%, 0.002) 98.2%,
            hsla(0, 0%, 0%, 0) 100%
        );
}

.gradient-right {
    right: 0;
    background-image:
        linear-gradient(
            270deg,
            hsl(0, 0%, 0%) 0%,
            hsla(0, 0%, 0%, 0.738) 19%,
            hsla(0, 0%, 0%, 0.541) 34%,
            hsla(0, 0%, 0%, 0.382) 47%,
            hsla(0, 0%, 0%, 0.278) 56.5%,
            hsla(0, 0%, 0%, 0.194) 65%,
            hsla(0, 0%, 0%, 0.126) 73%,
            hsla(0, 0%, 0%, 0.075) 80.2%,
            hsla(0, 0%, 0%, 0.042) 86.1%,
            hsla(0, 0%, 0%, 0.021) 91%,
            hsla(0, 0%, 0%, 0.008) 95.2%,
            hsla(0, 0%, 0%, 0.002) 98.2%,
            hsla(0, 0%, 0%, 0) 100%
        );
}

.appear {
    opacity: 0 !important;
}

.autoplay-video {
    transition: transform .15s; /* Animation */
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}